<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Blending_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.The train set is split into training and validation sets<br>
2.Model(s) are fitted on the training set.<br>
3.The predictions are made on the validation set and the test set<br>
4.The validation set and its predictions are used as features to build a new model.<br>
5.This model is used to make final predictions on the test and meta-features.<br>

In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import random
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [18]:
df=pd.read_csv("https://raw.githubusercontent.com/Santanukolkata/Data_Science/master/datasets/pima-indians-diabetes.csv",header=None)

In [19]:
df.columns=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome']
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [20]:
df.shape

(768, 9)

In [21]:
# Extract validation set of 30 samples (random)

n = 100
index_list = random.sample(range(0, df.shape[0]-1), n)

# initialize a dataframe
X_val = pd.DataFrame()

for elem in index_list:
    X_val = X_val.append(df.iloc[elem: elem+1])
    
# drop the rows from the training set (which r now in X_val dataframe)
df.drop(df.index[index_list], inplace=True)  

# reset index
X_val.reset_index(drop=True, inplace=True)

# reset index
df.reset_index(drop=True, inplace=True)

In [22]:
# Train test split

attributes = list(df.columns[:8])

X = df[attributes]
y = df['Outcome']    

# Split into train and test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state =0)

# reset index
X_test.reset_index(drop=True, inplace=True)

In [23]:
y_val = X_val['Outcome']

In [24]:
X_val.drop(['Outcome'], inplace=True, axis=1)

In [25]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(534, 8)
(100, 8)
(134, 8)
(534,)
(100,)
(134,)

In [28]:
# scaling the samples

colnames = X_train.columns

array_train = X_train.values
array_val   = X_val.values
array_test  = X_test.values

scaler = StandardScaler()

scaler.fit(array_train)
rescaledX_train = scaler.transform(array_train)

scaler = StandardScaler()

scaler.fit(array_val)
rescaledX_val = scaler.transform(array_val)

scaler = StandardScaler()

scaler.fit(array_test)
rescaledX_test = scaler.transform(array_test)

X_train = pd.DataFrame(rescaledX_train, columns=colnames)
X_val   = pd.DataFrame(rescaledX_val,   columns=colnames)
X_test  = pd.DataFrame(rescaledX_test,  columns=colnames)

In [29]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(534, 8)
(100, 8)
(134, 8)
(534,)
(100,)
(134,)

In [32]:
model1 = DecisionTreeClassifier()

In [33]:
model1.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [37]:
# predict on validation set
val_pred1  = model1.predict(X_val)
print ('Model 1 : Accuracy (validation ) : ', metrics.accuracy_score(y_val, val_pred1))

# predict on test set
test_pred1 = model1.predict(X_test)
print ('Model 1 : Accuracy (test )       : ', metrics.accuracy_score(y_test, test_pred1))

Model 1 : Accuracy (validation ) :  0.69
Model 1 : Accuracy (test )       :  0.6716417910447762

In [38]:
# Convert to dataframes
val_pred1  = pd.DataFrame(val_pred1)
test_pred1 = pd.DataFrame(test_pred1)

In [40]:
model2 = KNeighborsClassifier()

In [42]:
model2.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [43]:
# predict the X_val
val_pred2  = model2.predict(X_val)
print ('Model 2 : Accuracy (validation ) : ', metrics.accuracy_score(y_val, val_pred2))

# predict the X_test
test_pred2 = model2.predict(X_test)
print ('Model 2 : Accuracy (test )       : ', metrics.accuracy_score(y_test, test_pred2))

Model 2 : Accuracy (validation ) :  0.7
Model 2 : Accuracy (test )       :  0.7611940298507462

In [44]:
val_pred2  = pd.DataFrame(val_pred2)
test_pred2 = pd.DataFrame(test_pred2)

In [45]:
val_pred2

    0
0   0
1   1
2   0
3   0
4   0
.. ..
95  1
96  0
97  0
98  0
99  0

[100 rows x 1 columns]

In [46]:
test_pred2

     0
0    0
1    0
2    0
3    0
4    0
..  ..
129  0
130  1
131  1
132  0
133  0

[134 rows x 1 columns]

In [47]:
# validation set and its predictions are used as features 
df_val_meta_features_as_train  = pd.concat([X_val,  val_pred1,  val_pred2],  axis = 1)

df_test_meta_features_as_test  = pd.concat([X_test, test_pred1, test_pred2], axis = 1)

In [48]:
df_val_meta_features_as_train

    Pregnancies   Glucose  BloodPressure  ...       Age  0  0
0      0.224008 -0.748560       0.277769  ...  1.072476  0  0
1      0.224008 -0.196653       0.399331  ...  1.174133  1  1
2     -0.091496  0.413349       0.034645  ... -1.062311  0  0
3     -0.722505 -0.661417      -4.220025  ... -0.960654  0  0
4      0.539513  0.093824       0.520893  ...  1.682415  0  0
..          ...       ...            ...  ...       ... .. ..
95    -1.353514  1.168590       0.399331  ... -0.757341  1  1
96    -0.407001 -0.254748      -1.180975  ... -0.757341  0  0
97    -1.038010 -0.835703      -0.816289  ... -1.062311  0  0
98    -1.038010  0.500492      -0.451603  ... -1.163967  1  0
99     1.486026  0.529540       1.493389  ...  1.275789  1  0

[100 rows x 10 columns]

In [49]:
df_val_meta_features_as_train.shape, df_test_meta_features_as_test.shape

((100, 10), (134, 10))

In [50]:
model = LogisticRegression(solver='lbfgs', max_iter=3000)

In [51]:
# train on the updated validation set
model.fit(df_val_meta_features_as_train,  y_val)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=3000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
# predict on updated (X_test)
model.predict(df_test_meta_features_as_test)

array([1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0])

In [53]:
# predict the X_test
test_pred = model.predict(df_test_meta_features_as_test)

print ('Model (Final) : Accuracy (test )       : ', metrics.accuracy_score(y_test, test_pred))

Model (Final) : Accuracy (test )       :  0.7388059701492538