In [1]:
import numpy as np
import pandas as pd

In [22]:
df=pd.DataFrame(np.arange(1,150,1.5),columns=['Age'])

In [23]:
df.head()

   Age
0  1.0
1  2.5
2  4.0
3  5.5
4  7.0

# Fixed binings:

In [24]:
df['Age_bin_round'] = np.array(np.floor(
                              np.array(df['Age']) / 10.))
df.head()

   Age  Age_bin_round
0  1.0            0.0
1  2.5            0.0
2  4.0            0.0
3  5.5            0.0
4  7.0            0.0

# Custom Range

In [25]:
bin_ranges = [0, 15, 30, 45, 60, 75, 15]
bin_names = [1, 2, 3, 4, 5, 6]

In [26]:
df['Age_bin_custom_range'] = pd.cut(
                                           np.array(
                                              df['Age']), 
                                              bins=bin_ranges)
df['Age_bin_custom_label'] = pd.cut(
                                           np.array(
                                              df['Age']), 
                                              bins=bin_ranges,            
                                              labels=bin_names)

In [27]:
df.iloc[15:20]

     Age  Age_bin_round Age_bin_custom_range Age_bin_custom_label
15  23.5            2.0             (15, 30]                    2
16  25.0            2.0             (15, 30]                    2
17  26.5            2.0             (15, 30]                    2
18  28.0            2.0             (15, 30]                    2
19  29.5            2.0             (15, 30]                    2

# Adaptive Binning

In [28]:
quantile_list = [0, .25, .5, .75, 1.]
quantile_labels = ['0-25Q', '25-50Q', '50-75Q', '75-100Q']
df['Age_quantile_range'] = pd.qcut(
                                            df['Age'], 
                                            q=quantile_list)
df['Age_quantile_range'] = pd.qcut(
                                            df['Age'], 
                                            q=quantile_list,       
                                            labels=quantile_labels)

df.tail()

,Age,Age_bin_round,Age_bin_custom_range,Age_bin_custom_label,Age_quantile_range
95,143.5,14.0,NaN,NaN,75-100Q
96,145.0,14.0,NaN,NaN,75-100Q
97,146.5,14.0,NaN,NaN,75-100Q
98,148.0,14.0,NaN,NaN,75-100Q
99,149.5,14.0,NaN,NaN,75-100Q