**Isolation forest** <br>
is a machine learning algorithm for anomaly detection.
It's an unsupervised learning algorithm that identifies anomaly by isolating outliers in the data.
Isolation Forest is based on the Decision Tree algorithm. It isolates the outliers by randomly selecting a feature from the given set of features and then randomly selecting a split value between the max and min values of that feature. This random partitioning of features will produce shorter paths in trees for the anomalous data points, thus distinguishing them from the rest of the data.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [8]:
dict ={'salary':[20,30,23,34,40,15,200000,40,-1000,25,41,21,29,31,32,5000]}

In [9]:
df=pd.DataFrame(dict)

In [10]:
df

    salary
0       20
1       30
2       23
3       34
4       40
5       15
6   200000
7       40
8    -1000
9       25
10      41
11      21
12      29
13      31
14      32
15    5000

**Number of estimators:** n_estimators refers to the number of base estimators or trees in the ensemble, i.e. the number of trees that will get built in the forest. This is an integer parameter and is optional. The default value is 100.

**Max samples:** max_samples is the number of samples to be drawn to train each base estimator. If max_samples is more than the number of samples provided, all samples will be used for all trees. The default value of max_samples is 'auto'. If 'auto', then max_samples=min(256, n_samples)

**Contamination:** This is a parameter that the algorithm is quite sensitive to; it refers to the expected proportion of outliers in the data set. This is used when fitting to define the threshold on the scores of the samples. The default value is 'auto'. If ‘auto’, the threshold value will be determined as in the original paper of Isolation Forest.

**Max features:** All the base estimators are not trained with all the features available in the dataset. It is the number of features to draw from the total features to train each base estimator or tree.The default value of max features is one.

In [11]:
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1),max_features=1.0)
model.fit(df[['salary']])

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.1,
                max_features=1.0, max_samples='auto', n_estimators=50,
                n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [12]:
df['scores']=model.decision_function(df[['salary']])
df['anomaly']=model.predict(df[['salary']])

In [13]:
df

    salary    scores  anomaly
0       20  0.333215        1
1       30  0.365386        1
2       23  0.352402        1
3       34  0.361267        1
4       40  0.326122        1
5       15  0.299165        1
6   200000 -0.167735       -1
7       40  0.326122        1
8    -1000  0.038804        1
9       25  0.359098        1
10      41  0.317107        1
11      21  0.339401        1
12      29  0.364773        1
13      31  0.363852        1
14      32  0.362910        1
15    5000 -0.038804       -1

In [14]:
pwd

'C:\\MyWork\\Python\\Preprocessing'