<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Models/Preprocessing/Robust_Scaling_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler

In [0]:
# adding the data from dict to panda
dict={'UnScaled': [0,2,3,4,5,19,11,12,-100,20]}
df=pd.DataFrame(dict)

In [5]:
# checking the data
df.head()

   UnScaled
0         0
1         2
2         3
3         4
4         5

In [6]:
df.describe()

         UnScaled
count   10.000000
mean    -2.400000
std     34.995873
min   -100.000000
25%      2.250000
50%      4.500000
75%     11.750000
max     20.000000

In [0]:
transformer = RobustScaler().fit_transform(df)

In [0]:
df['robust_scalerwoparameter']=transformer.ravel()

In [10]:
df

   UnScaled  robust_scalerwoparameter
0         0                 -0.473684
1         2                 -0.263158
2         3                 -0.157895
3         4                 -0.052632
4         5                  0.052632
5        19                  1.526316
6        11                  0.684211
7        12                  0.789474
8      -100                -11.000000
9        20                  1.631579

In [0]:
transformer = RobustScaler(with_centering=False,quantile_range=(10,80)).fit_transform(np.array(df['UnScaled']).reshape(-1,1))

In [0]:
df['robust_scalerwithIQChanged']=transformer.ravel()

In [13]:
df

   UnScaled  robust_scalerwoparameter  robust_scalerwithIQChanged
0         0                 -0.473684                    0.000000
1         2                 -0.263158                    0.085470
2         3                 -0.157895                    0.128205
3         4                 -0.052632                    0.170940
4         5                  0.052632                    0.213675
5        19                  1.526316                    0.811966
6        11                  0.684211                    0.470085
7        12                  0.789474                    0.512821
8      -100                -11.000000                   -4.273504
9        20                  1.631579                    0.854701