In [1]:
import pandas as pd
import numpy as np

In [3]:
sr1=pd.Series(list('abcd'))
sr1

0    a
1    b
2    c
3    d
dtype: object

**Indexed Data**

In [5]:
Mn=pd.Series(data=list(['Jan','Feb','Mar']),index=list(['1','2','3']))
Mn

1    Jan
2    Feb
3    Mar
dtype: object

**Checking the index**

In [6]:
Mn.index

Index(['1', '2', '3'], dtype='object')

**Series from Dictionary**

In [9]:
citydata={'hydrabad': 35000,'Bangalore':40000,'Delhi':16000,'Chennai':5000}
sr2=pd.Series(citydata)
sr2

hydrabad     35000
Bangalore    40000
Delhi        16000
Chennai       5000
dtype: int64

**checking the lowest value**

In [10]:
sr2.min()

5000

**Checking lowest index**

In [11]:
sr2.idxmin()

'Chennai'