<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Pandas/Panda_Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime as dt
import numpy as np

In [0]:
data ={ 'Company': ['Huawei','BT','TCS'],
    "Start": ['02-08-2010','02-12-2013','07-07-2016'],
       'End':['28-10-2013','14-01-2016',dt.date.today().strftime("%d-%m-%Y")]
       }

In [0]:
df=pd.DataFrame(data)

In [4]:
df

  Company       Start         End
0  Huawei  02-08-2010  28-10-2013
1      BT  02-12-2013  14-01-2016
2     TCS  07-07-2016  06-03-2020

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Company    3 non-null object
Start      3 non-null object
End        3 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes

In [0]:
df['Start']=pd.to_datetime(pd.to_datetime(df['Start']).dt.strftime("%d-%m-%Y"))
#df['Start']=df['Start'].strftime("%d-%m-%Y")
df['End']=pd.to_datetime(pd.to_datetime(df['End']).dt.strftime("%d-%m-%Y"))
#df['End']=df['End'].strftime("%d-%m-%Y")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Company    3 non-null object
Start      3 non-null datetime64[ns]
End        3 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 200.0+ bytes

In [0]:
df['Total_Exp']=df['End'] -df['Start']
df['Total_Exp']=round(df['Total_Exp']/np.timedelta64(1,'Y'),2)

In [16]:
df['Total_Exp'].sum()

9.02

In [24]:
date1 = pd.Series(pd.date_range(df[df['Company']=='Huawei']['Start'][0] , periods=7, freq='M'))
date1

0   2010-08-31
1   2010-09-30
2   2010-10-31
3   2010-11-30
4   2010-12-31
5   2011-01-31
6   2011-02-28
dtype: datetime64[ns]

In [27]:
date2 = pd.Series(pd.date_range(df[df['Company']=='Huawei']['Start'][0] , df[df['Company']=='Huawei']['End'][0], freq='M'))
date2.tail(5)

33   2013-05-31
34   2013-06-30
35   2013-07-31
36   2013-08-31
37   2013-09-30
dtype: datetime64[ns]

In [68]:
print('Year: ',df['Start'].dt.year[0])
print('Month: ',df['Start'].dt.month[0])
print('Week: ',df['Start'].dt.week[0])
print('Week of year: ',df['Start'].dt.weekofyear[0])
print('Day: ',df['Start'].dt.day[0])
print('WeekDayName: ',df['Start'].dt.weekday_name[0])
print('Dayofweek: ',df['Start'].dt.dayofweek[0])
print('MonthName: ',pd.to_datetime(df['Start'], format='%m').dt.month_name()[0])
print('Quarter: ',df['Start'].dt.quarter[0])

Year:  2010
Month:  8
Week:  31
Week of year:  31
Day:  2
WeekDayName:  Monday
Dayofweek:  0
MonthName:  August
Quarter:  3