<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Pandas/Panda_aggregate_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_1 =pd.DataFrame({'col1' :[202001,202002,202003,202004,202005,202006],'col_measure' :[100,200,300,400,500,600]})

In [3]:
df_2 =pd.DataFrame({'col1_2' :[202001,202002,202003],'col_measure_2' :[100,200,300]})

In [4]:
df=df_1.merge(df_2,how='left',left_on='col1',right_on='col1_2')

In [5]:
df

     col1  col_measure    col1_2  col_measure_2
0  202001          100  202001.0          100.0
1  202002          200  202002.0          200.0
2  202003          300  202003.0          300.0
3  202004          400       NaN            NaN
4  202005          500       NaN            NaN
5  202006          600       NaN            NaN

In [6]:
df =df.fillna(0)

In [7]:
df

     col1  col_measure    col1_2  col_measure_2
0  202001          100  202001.0          100.0
1  202002          200  202002.0          200.0
2  202003          300  202003.0          300.0
3  202004          400       0.0            0.0
4  202005          500       0.0            0.0
5  202006          600       0.0            0.0

In [8]:
df['cumsum'] =df['col_measure_2'].cumsum()

In [9]:
df

     col1  col_measure    col1_2  col_measure_2  cumsum
0  202001          100  202001.0          100.0   100.0
1  202002          200  202002.0          200.0   300.0
2  202003          300  202003.0          300.0   600.0
3  202004          400       0.0            0.0   600.0
4  202005          500       0.0            0.0   600.0
5  202006          600       0.0            0.0   600.0

In [15]:
df.sort_values(by=['col1'],ascending=True,inplace=True)

In [16]:
df['cumsum'] =df['col_measure_2'].cumsum()

In [17]:
df

     col1  col_measure    col1_2  col_measure_2  cumsum
0  202001          100  202001.0          100.0   100.0
1  202002          200  202002.0          200.0   300.0
2  202003          300  202003.0          300.0   600.0
3  202004          400       0.0            0.0   600.0
4  202005          500       0.0            0.0   600.0
5  202006          600       0.0            0.0   600.0