<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Pandas/Panda_Sampling_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.datasets import load_iris
iris_df=load_iris()

**Loading Data into Dataframe**

In [0]:
df_iris=pd.DataFrame(iris_df.data,columns=iris_df.feature_names)
df_iris['Target']=iris_df.target
df_iris['Target']=df_iris['Target'].apply(lambda x:iris_df.target_names[x])

In [4]:
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Target
0                5.1               3.5  ...               0.2  setosa
1                4.9               3.0  ...               0.2  setosa
2                4.7               3.2  ...               0.2  setosa
3                4.6               3.1  ...               0.2  setosa
4                5.0               3.6  ...               0.2  setosa

[5 rows x 5 columns]

In [5]:
df_iris.sample(n=3,random_state=1)

    sepal length (cm)  sepal width (cm)  ...  petal width (cm)      Target
14                5.8               4.0  ...               0.2      setosa
98                5.1               2.5  ...               1.1  versicolor
75                6.6               3.0  ...               1.4  versicolor

[3 rows x 5 columns]

In [6]:
def getting_sample_data(df):
    return df.sample(n=3,random_state=1)
df=df_iris.groupby('Target').apply(getting_sample_data)
df

                sepal length (cm)  ...      Target
Target                             ...
setosa     27                 5.2  ...      setosa
           35                 5.0  ...      setosa
           40                 5.0  ...      setosa
versicolor 77                 6.7  ...  versicolor
           85                 6.0  ...  versicolor
           90                 5.5  ...  versicolor
virginica  127                6.1  ...   virginica
           135                7.7  ...   virginica
           140                6.7  ...   virginica

[9 rows x 5 columns]